<bgvid></bgvid>
<bgimg></bgimg>
<!-- <div id="bg-static"></div> -->
<div id="bg-scroll" ng-if="layoutProperties.scrollChampions">
  <img ng-src="{{p.img_splashes[0]}}" ng-repeat="p in layoutProperties.scrollChampions">
</div>
<div id="bg-mask"></div>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="masthead" ng-show="!layoutProperties.hideHeader" ng-class="{fat:layoutProperties.fatHeader}" ui-view="header"></div>
    <div class="mastcontent" ui-view="body"></div>
    <a href="#" socialshare socialshare-provider="reddit" socialshare-url="http://www.leaguegg.com" socialshare-text="LeagueGG · League of Legends analysis, search and stats" socialshare-subreddit="leagueoflegends" class="btn btn-xs btn-default" id="btn-share-reddit"><i class="fa fa-reddit"></i></a>
    <a href="#" socialshare socialshare-provider="facebook" socialshare-url="http://www.leaguegg.com" class="btn btn-xs btn-primary" id="btn-share-facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" socialshare socialshare-provider="twitter" socialshare-url="http://www.leaguegg.com" socialshare-text="LeagueGG · League of Legends analysis, search and stats" socialshare-hashtags="LeagueGG, LeagueOfLegends" class="btn btn-xs btn-info" id="btn-share-twitter"><i class="fa fa-twitter"></i></a>
    <feedback></feedback>
    <!-- <div class="mastfoot" ui-view="footer"></div> -->
  </div>
</div>