<div id="bg-static"></div>
<div id="bg-static-mask"></div>
<bgvid/>
<bgimg/>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="masthead" ng-class="{fat:layoutProperties.fatHeader}" ui-view="header"></div>
    <div class="mastcontent" ui-view="body"></div>
    <feedback></feedback>
    <a href="#" socialshare socialshare-provider="facebook" socialshare-url="http://www.leaguegg.com" class="btn btn-xs btn-primary" id="btn-share-facebook">
      <i class="fa fa-facebook"></i> Facebook
    </a>
    <a href="#" socialshare socialshare-provider="twitter" socialshare-url="http://www.leaguegg.com" socialshare-hashtags="LeagueGG · League of Legends analysis, search and stats" class="btn btn-xs btn-info" id="btn-share-twitter">
      <i class="fa fa-twitter"></i> Twitter
    </a>
    <!-- <a href="#" socialshare socialshare-provider="reddit" socialshare-url="http://www.leaguegg.com" socialshare-text="LeagueGG · League of Legends analysis, search and stats" socialshare-subreddit="leagueoflegends" class="btn btn-xs btn-default" id="btn-share-reddit">
      <i class="fa fa-reddit"></i> Reddit
    </a> -->
    <!-- <div class="mastfoot" ui-view="footer"></div> -->
  </div>
</div>