<div class="container">
  <div class="inner">
    <p class="disclaimer row">
      LeagueGG.com isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends.
      <br> League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
    </p>
    <div class="fun-stuff row">
      <span class="copy">
      &copy; 2015 LeagueGG.com
      </span>
      <span class="logos">
      <a href="/app"><i class="fa fa-mobile fa-2x"></i></a>
      </span>
    </div>
  </div>
</div>