<div class="profile-info">
  <div class="p-icon">
    <a href="/summoner/{{summoner.region}}/{{summoner.id}}-{{summoner.name}}">
      <img alt="{{summoner.name}}'s profile icon" ng-src="{{summoner.profile_icon.img}}">
    </a>
  </div>
  <div class="p-info">
    <div class="p-name">
      <a href="/summoner/{{summoner.region}}/{{summoner.id}}-{{summoner.name}}">{{summoner.name}}</a>
    </div>
    <div class="p-from">
      <span class="p-region label label-default">{{summoner.region}}</span>
      <span class="p-level label label-default">Level {{summoner.level}}</span>
    </div>
  </div>
</div>
<div class="rank-info">
  <div class="rank-item" ng-repeat="entry in summoner.league_entries">
    <div class="r-icon">
      <img ng-src="/static/img/riot/tier/lg/{{entry.tier|lowercase}}.png" alt="{{summoner.name}}'s tier icon - {{entry.tier|lowercase}}" err-src="/static/img/leaguegg-icon.png" ng-if="entry.tier">
    </div>
    <div class="r-detail">
      <div class="r-team-name">
        {{entry.entries[0].player_or_team_name}}
      </div>
      <div class="r-tier">
        <span>{{entry.tier | titleize}} {{entry.entries[0].division}}</span>
        <span>·</span>
        <span class="r-queue">{{entry.queue | titleize}}</span>
      </div>
      <div class="r-lp">
        {{entry.entries[0].league_points || 0}} LP
        <mini-series sequence="entry.entries[0].mini_series.progress"></mini-series>
      </div>
    </div>
  </div>
</div>
<div class="ads">
  <!-- /103943719/summoner_profile_left -->
  <!-- <div id='div-gpt-ad-1445719450907-0' style='height:250px; width:300px;'>
    <script type='text/javascript'>
    googletag.cmd.push(function() {
      googletag.display('div-gpt-ad-1445719450907-0');
    });
    </script>
  </div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->

  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=le0ed-20&marketplace=amazon&region=US&placement=B007136EDG&asins=B007136EDG&linkId=FOSDNDVXFYJ72X57&show_border=false&link_opens_in_new_window=true">
  </iframe>

  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=le0ed-20&marketplace=amazon&region=US&placement=B0096HXX34&asins=B0096HXX34&linkId=CHG3VFFHRLV2L6QB&show_border=false&link_opens_in_new_window=true">
  </iframe>

  <!-- SummonerProfileLeft -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9061766971404583" data-ad-slot="7022948556" data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>


</div>