<div class="profile-info">
  <div class="p-icon">
    <a href="/summoner/{{summoner.region}}/{{summoner.id}}-{{summoner.name}}">
      <img alt="{{summoner.name}}'s profile icon" ng-src="{{summoner.profile_icon.img}}">
    </a>
  </div>
  <div class="p-info">
    <div class="p-name">
      <a href="/summoner/{{summoner.region}}/{{summoner.id}}-{{summoner.name}}">{{summoner.name}}</a>
    </div>
    <div class="p-from">
      <span class="p-region label label-default">{{summoner.region}}</span>
      <span class="p-level label label-default">Level {{summoner.level}}</span>
    </div>
  </div>
</div>
<div class="rank-info">
  <div class="rank-item" ng-repeat="entry in summoner.league_entries">
    <div class="r-icon">
      <img ng-src="/static/img/riot/tier/lg/{{entry.tier|lowercase}}.png" alt="{{summoner.name}}'s tier icon - {{entry.tier|lowercase}}" err-src="/static/img/leaguegg-icon.png" ng-if="entry.tier">
    </div>
    <div class="r-detail">
      <div class="r-team-name">
        {{entry.entries[0].player_or_team_name}}
      </div>
      <div class="r-tier">
        <span>{{entry.tier | titleize}} {{entry.entries[0].division}}</span>
        <span>·</span>
        <span class="r-queue">{{entry.queue | titleize}}</span>
      </div>
      <div class="r-lp">
        {{entry.entries[0].league_points || 0}} LP
        <mini-series sequence="entry.entries[0].mini_series.progress"></mini-series>
      </div>
    </div>
  </div>
</div>
<div class="ads">
  <iframe src="http://yllix.com/banner_show.php?section=General&amp;pub=747545&amp;format=300x250&amp;ga=g" frameborder="0" scrolling="no" width="300" height="250" marginwidth="0" marginheight="0"></iframe>
  
  <!-- /103943719/summoner_profile_left -->
  <!-- <div id='div-gpt-ad-1445719450907-0' style='height:250px; width:300px;'>
    <script type='text/javascript'>
    googletag.cmd.push(function() {
      googletag.display('div-gpt-ad-1445719450907-0');
    });
    </script>
  </div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->

  <!-- SummonerProfileLeft -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9061766971404583" data-ad-slot="7022948556" data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>