<div class="profile-info">
  <div class="p-icon">
    <a href="/summoner/{{summoner.region}}/{{summoner.id}}-{{summoner.name}}">
      <img alt="{{summoner.name}}'s profile icon" ng-src="{{summoner.profile_icon.img}}">
    </a>
  </div>
  <div class="p-info">
    <div class="p-name">
      <a href="/summoner/{{summoner.region}}/{{summoner.id}}-{{summoner.name}}">{{summoner.name}}</a>
    </div>
    <div class="p-from">
      <span class="p-region label label-default">{{summoner.region}}</span>
      <span class="p-level label label-default">Level {{summoner.level}}</span>
    </div>
  </div>
</div>
<div class="rank-info">
  <div class="rank-item" ng-repeat="entry in summoner.league_entries">
    <div class="r-icon">
      <img ng-src="/static/img/riot/tier/lg/{{entry.tier|lowercase}}.png" alt="{{summoner.name}}'s tier icon - {{entry.tier|lowercase}}" err-src="/static/img/leaguegg-icon.png" ng-if="entry.tier">
    </div>
    <div class="r-detail">
      <div class="r-team-name">
        {{entry.entries[0].player_or_team_name}}
      </div>
      <div class="r-tier">
        <span>{{entry.tier | titleize}} {{entry.entries[0].division}}</span>
        <span>·</span>
        <span class="r-queue">{{entry.queue | titleize}}</span>
      </div>
      <div class="r-lp">
        {{entry.entries[0].league_points || 0}} LP
        <mini-series sequence="entry.entries[0].mini_series.progress"></mini-series>
      </div>
    </div>
  </div>
</div>
<!-- <div class="ads">
  <div class="ad">
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=le0ed-20&o=1&p=12&l=ur1&category=gopro&banner=17Z8E19QT3DZ983MA2G2&f=ifr&lc=pf4&linkID=V3ML5YOTHUJTTB3P" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
  </div>
</div> -->