<div class="row">
  <div class="stat-charts col-md-4">
    <div class="cs-chart">
      <cs-line-chart name="CS" timeline="stats.avg_timeline_cs" />
    </div>
    <div class="csd-chart">
      <cs-line-chart name="CS DIFF" timeline="stats.avg_timeline_csd" />
    </div>
  </div>
  <div class="stat-charts col-md-4">
    <div class="xp-chart">
      <cs-line-chart name="XP" timeline="stats.avg_timeline_xp" />
    </div>
    <div class="xpd-chart">
      <cs-line-chart name="XP DIFF" timeline="stats.avg_timeline_xpd" />
    </div>
  </div>
  <div class="stat-charts col-md-4">
    <div class="dmgt-chart">
      <cs-line-chart name="DAMAGE TAKEN" timeline="stats.avg_timeline_dmgt" />
    </div>
    <div class="dmgtd-chart">
      <cs-line-chart name="DAMAGE TAKEN DIFF" timeline="stats.avg_timeline_dmgtd" />
    </div>
  </div>
</div>

