<div class="page-summoner container">
  <div ng-if="data.error.summoner">
    {{data.error.summoner.data.error}}
  </div>
  <div class="summoner-info-wrapper row" ng-if="!data.error.summoner && data.summoner">
    <div class="summoner-profile col-md-4">
      <summoner-profile season="data.season" summoner="data.summoner"></summoner-profile>
    </div>
    <div class="summoner-match-history col-md-8">
      <div summoner-tabs class="summoner-tabs" tab-code="data.tab">
      </div>
      <loading status="data.loading.match_history">
      </loading>
      <div class="text-center" ng-if="data.error.match_history">
        Match history could not be found for {{data.summoner.name}}
      </div>
      <div ng-if="!data.error.match_history && data.match_history">
        <div match-list class="match-list" matches="data.match_history" summoner="data.summoner"></div>
      </div>
    </div>
  </div>
</div>