<div class="page-summoner container">
  <div ng-if="data.error.summoner">
    {{data.error.summoner.data.error}}
  </div>
  <div ng-if="!data.error.summoner && data.summoner">
    <div class="summoner-profile col-md-4">
      <summoner-profile season="data.season" summoner="data.summoner"></summoner-profile>
    </div>
    <div class="summoner-champion-stat col-md-8">
      <div class="link-to-all-stats row">
        <a href="/summoner/{{data.summoner.region}}/{{data.summoner.name}}">See {{data.summoner.name}}'s performance for other champions</a>
      </div>
      <div class="text-center" ng-if="data.error.champion_stats">
        Ranked champion stats could not be found for {{data.summoner.name}}
      </div>
      <div ng-if="!data.error.champion_stats && data.champion_stats">
        <h4>Performance Summary</h4>
        <div class="stats-summary">
          <summoner-champion-summary season="data.season" champion-season-stat="getChampionSeasonStats()" champion-recent-stat="data.champion_stats">
        </div>
        </summoner-champion-summary>
        <hr>
        <div class="stats-breakdown">
          <summoner-ranked-champion-stats season="data.season" summoner="data.summoner" stats="data.champion_stats">
        </div>
        </summoner-ranked-champion-stats>
      </div>
    </div>
  </div>
</div>