<div class="page-summoner container">
  <div ng-if="data.error.summoner">
    {{data.error.summoner.data.error}}
  </div>
  <div class="summoner-info-wrapper row" ng-if="!data.error.summoner && data.summoner">
    <div class="summoner-profile col-md-4">
      <summoner-profile season="data.season" summoner="data.summoner"></summoner-profile>
    </div>
    <div class="summoner-champion-stat col-md-8">
      <div summoner-tabs class="summoner-tabs" tab-code="data.tab">
      </div>
      
      <div class="link-to-all-stats row">
        <a href="/summoner/{{data.summoner.region}}/{{data.summoner.id}}-{{data.summoner.name}}">See {{data.summoner.name}}'s performance for other champions</a>
      </div>

      <loading status="data.loading.champion_stats">
      </loading>

      <div class="text-center" ng-if="data.error.champion_stats">
        Ranked champion stats could not be found for {{data.summoner.name}}
      </div>
      <div ng-if="!data.error.champion_stats && data.champion_stats">
        <h4>Performance Summary</h4>
        <div class="stats-summary">
          <summoner-champion-summary season="data.season" champion-season-stat="getChampionSeasonStats()" champion-recent-stat="data.champion_stats">
        </div>
        </summoner-champion-summary>
        <hr>
        <div class="stats-breakdown">
          <summoner-ranked-champion-stats season="data.season" summoner="data.summoner" stats="data.champion_stats">
          </summoner-ranked-champion-stats>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="ads text-center with-container">
    <div class="ad wide">
      <iframe src="http://yllix.com/banner_show.php?section=General&amp;pub=747545&amp;format=728x90&amp;ga=g" frameborder="0" scrolling="no" width="728" height="90" marginwidth="0" marginheight="0"></iframe>
    </div>
    <div class="ad narrow">
      <iframe src="http://yllix.com/banner_show.php?section=General&amp;pub=747545&amp;format=300x250&amp;ga=g" frameborder="0" scrolling="no" width="300" height="250" marginwidth="0" marginheight="0"></iframe>
    </div>
  </div> -->
</div>