<div class="page-summoner container">
  <div class="text-center" ng-if="data.error.summoner">
    {{data.error.summoner.data.error}}
  </div>
  <div ng-if="!data.error.summoner && data.summoner" class="row">
    <div class="summoner-profile col-md-4">
      <summoner-profile season="data.season" summoner="data.summoner"></summoner-profile>
    </div>
    <div class="summoner-champions col-md-8">
      <div class="text-center" ng-if="data.error.summoner_stats">
        {{data.season | titleize}} ranked stats could not be found for {{data.summoner.name}}
      </div>
      <div ng-if="!data.error.summoner_stats && data.summoner_stats">
        <summoner-ranked-champions season="data.season" stats="data.summoner_stats" update-clicked="updateClicked()" summoner-stats-loading="data.loading.summoner_stats"></summoner-ranked-champions>
      </div>
    </div>
  </div>
  <div class="ads text-center">
    <div class="ad wide">
      <iframe src="http://yllix.com/banner_show.php?section=General&amp;pub=747545&amp;format=728x90&amp;ga=g" frameborder="0" scrolling="no" width="728" height="90" marginwidth="0" marginheight="0"></iframe>
    </div>
    <div class="ad narrow">
      <iframe src="http://yllix.com/banner_show.php?section=General&amp;pub=747545&amp;format=300x250&amp;ga=g" frameborder="0" scrolling="no" width="300" height="250" marginwidth="0" marginheight="0"></iframe>
    </div>
  </div>
</div>