<div class="page-summoner">
  <div class="text-center" ng-if="data.error.summoner">
    {{data.error.summoner.data.error}}
  </div>
  <div class="summoner-info-wrapper row row-fluid" ng-if="!data.error.summoner && data.summoner">
    <div class="summoner-profile col-md-4">
      <summoner-profile season="data.season" summoner="data.summoner"></summoner-profile>
    </div>
    <div class="summoner-champions col-md-8">
      <div summoner-tabs class="summoner-tabs" tab-code="data.tab">
      </div>

      <loading status="data.loading.summoner_stats">
      </loading>

      <div class="text-center" ng-if="data.error.summoner_stats">
        {{data.season | titleize}} ranked stats could not be found for {{data.summoner.name}}
      </div>
      <div ng-if="!data.error.summoner_stats && data.summoner_stats">
        <summoner-ranked-champions season="data.season" stats="data.summoner_stats" update-clicked="updateClicked()" summoner-stats-loading="data.loading.summoner_stats"></summoner-ranked-champions>
      </div>
    </div>
  </div>
  <div class="ads text-center with-container">
    <!-- <div class="ad">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-7286539389250332" data-ad-slot="4657688401"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div> -->
  </div>
</div>