<div class="page-match">

  <loading status="data.loading.match">
  </loading>

  <div ng-if="data.match">
    <div class="nav-btn">
      <a href="/summoner/{{data.summoner.region}}/{{data.summoner.id}}-{{data.summoner.name}}/matches/">See {{data.summoner.name}}'s recent matches</a>
    </div>
    <div class="info">
      <h2 class="match-type">{{data.match.queue_type | titleize}}</h2>
      <div>
        <span class="duration">{{data.match.match_duration | duration:'sec'}}</span>
        &nbsp;&nbsp;&nbsp;
        <span class="created_at">{{data.match.created_at | time_from_now:'unix'}}</span>
      </div>
      <div class="social">
          <span class="s-text">Share Match On</span>
          <span socialshare socialshare-provider="twitter" socialshare-hashtags="League of Legends" socialshare-text="Checkout {{data.summoner.name}}'s LoL Match" class="s-item fa fa-twitter-square"></span>
          <span socialshare socialshare-provider="reddit" socialshare-subreddit="leagueoflegends" socialshare-text="Checkout {{data.summoner.name}}'s LoL Match" class="s-item fa fa-reddit-square"></span>
          <span socialshare socialshare-provider="facebook" class="s-item fa fa-facebook-square"></span>
      </div>
    </div>
    <div class="match-player">
      <div class="match-tables">
        <div match-team class="match-table" team="::data.match.teams[0]" frame="data.match.timeline.frames[data.current_frame]"></div>
        <div match-team class="match-table" team="::data.match.teams[1]" frame="data.match.timeline.frames[data.current_frame]"></div>
      </div>
      <div class="timeline-player-row" player-bar total-frames="data.match.timeline.frames.length" current-frame="data.current_frame" status="data.player_status" play="play()" pause="pause()" stop="stop()"></div>
    </div>
    <div match-stats class="match-stats" match="data.match">
    </div>
  </div>


  <div class="ads text-center with-container">
    <div class="ad">
      <a rel="nofollow" href="http://www.amazon.com/gp/product/B00XUP5M6Y/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00XUP5M6Y&linkCode=as2&tag=le0ed-20&linkId=WZVXVBFRK5IVVYUZ"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00XUP5M6Y&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=le0ed-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=le0ed-20&l=as2&o=1&a=B00XUP5M6Y" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </div>
  </div>

  
</div>