.live-game {
  font-size: 0.9em;
  @media(max-width: 991px) {
    font-size: 1em;
  }
  text-align: center;
  .live-game-wrapper {
    min-height: 150px;
  }
  .intro-ad {
    font-size: 1.1em;
    font-weight: 900;
    padding: 7px;
    margin: 3px 0px;
    &.purple {
      background-color: #7850AE;
    }
    &.blue {
      background-color: #7473BA;
    }
  }
  .team {
    margin-top: 10px;
    &.right-border {
      border-right: 1px solid white;
      @media(max-width: 768px) {
        border-right: none;
      }
    }
  }
  .team-bar {
    padding: 2px 2px;
    height: 36px;
    position: relative;
    font-weight: bold;
    .team-name {
      position: absolute;
      bottom: 8px;
    }
    &.left-pane {
      text-align: left;
      .team-name {
        text-align: right;
        right: 10px;
      }
    }
    &.right-pane {
      text-align: right;
      .team-name {
        text-align: left;
        left: 10px;
      }
    }
    .ban-item {
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .players {
    .player {
      padding: 10px 1px;
      @media(max-width: 991px) {
        border-bottom: 4px solid $gray;
        padding: 15px 1px;
      }
      .hr {
        &.b1 {
          border-top: 1px solid $gray;
        }
        &.b2 {
          border-top: 2px solid $gray;
        }
      }
      .slash {
        padding: 0px 2px;
      }
      .inc {
        color: #BAF4CF;
      }
      .dec {
        color: #EB88B2;
      }
      .item-labels {
        line-height: 0.7em;
        .item-label {
          font-size: 0.7em;
          color: $color_label;
        }
      }
      .intro {
        .summoner-name {
          height: 38px;
          font-weight: 500;
          word-wrap: break-word;
          text-decoration: underline;
          a {
            color: yellow;
            font-size: 0.8em;
            &:hover {
              color: $white;
            }
          }
        }
        .champion-icon {
          position: relative;
          .champ-icon-inner {
            position: relative;
            margin: 0 auto;
            width: 75px;
            height: 74px;
            img {
              width: 75px;
              height: 74px;
            }
            .champion-name {
              position: absolute;
              left: 0px;
              bottom: 0px;
              width: 100%;
              a {
                font-size: 0.8em;
                font-weight: 600;
                text-decoration: underline;
                &:hover {
                  color: yellow;
                }
              }
            }
          }
        }
        .skills {
          img {
            margin: 3px 1px;
            width: 35px;
            height: 35px;
          }
        }
        .tier {
          padding-top: 3px;
          min-height: 25px;
        }
        .tier-img {
          width: 28px;
          height: 25px;
        }
        .lp {
          min-height: 25px;
        }
        .rank-progress {
          min-height: 22px;
        }
        .mas-runes {
          .label {
            padding: 2px;
          }
        }
        .stats-links {
          padding: 5px 0px;
          a {
            color: yellow;
            font-size: 0.8em;
          }
        }
        .main-role {
          min-height: 46px;
          padding: 5px 0px;
        }
      }
      .stats {
        .wl {
          height: 70px;
          padding: 5px 0px;
        }
        .kda {
          height: 70px;
          padding: 5px 0px;
        }
        .cs {
          position: relative;
          min-height: 40px;
          padding: 5px 0px;
          .cs-stats-icon {
            color: yellow;
          }
          .cs-chart {
            display: none;
            position: absolute;
            top: 100%;
            max-width: 230px;
            background-color: #2E484A;
            z-index: 10;
            padding: 5px;
            border-radius: 10px;
          }
          &:hover,
          &:active {
            .cs-chart {
              display: block;
            }
          }
        }
        .jcs {
          min-height: 40px;
          padding: 5px 0px;
        }
        .support {
          min-height: 40px;
          padding: 5px 0px;
        }
        .aggresive {
          min-height: 40px;
          padding: 5px 0px;
        }
        .kill-rate {
          min-height: 40px;
          padding: 5px 0px;
          .rate-chart {
            padding: 6px 5px;
            max-width: 200px;
            margin: 0 auto;
          }
        }
        .badges {
          padding: 5px 0px;
          .badge-item {
            .badge {
              cursor: pointer;
              margin-top: 3px;
              min-width: 90px;
              &.hot {
                background: #A75151;
              }
              &.veteran {
                background: #8A9939;
              }
              &.fresh {
                background: #46A47D;
              }
              &.role {
                background: #004E6D;
              }
            }
          }
        }
      }
    }
  }
  .blue-team {
    .team-bar {
      background-color: $blue_team;
    }
    .champion-icon {
      img {
        border: 2px solid $blue_team;
      }
    }
    .champion-name {
      background-color: rgba(66, 141, 185, 0.38);
    }
    .cs-chart {
      left: 10%;
    }
  }
  .red-team {
    .team-bar {
      background-color: $red_team;
    }
    .champion-icon {
      img {
        border: 2px solid $red_team;
      }
    }
    .champion-name {
      background-color: rgba(172, 39, 39, 0.42);
    }
    .cs-chart {
      right: 10%;
    }
  }
  .error {
    margin-top: 50px;
    a {
      color: #9494FF;
      font-size: 1.3em;
    }
  }
  .loading {
    margin-top: 50px;
  }
  [data-tooltip] {
    border-bottom: 1px dotted $gray;
    cursor: help;
  }
}