.live-game {
  font-size: 0.9em;
  @media(max-width: 991px) {
    font-size: 1em;
  }
  text-align: center;
  .live-game-wrapper {
    min-height: 150px;
  }
  .intro-ad {
    position: relative;
    font-size: 1.1em;
    font-weight: 900;
    padding: 7px;
    margin: 3px 0px;
    &.purple {
      background-color: #7850AE;
    }
    &.blue {
      background-color: #7473BA;
    }
    &.game-info {
      position: relative;
      background-color: rgb(33, 33, 33);
      .game-time {
        font-size: 1.5em;
        padding-left: 5px;
      }
      .game-type {
        text-align: center;
        // position: absolute;
        // font-size: 0.7em;
        // bottom: -2px;
        // left: 50%;
        // margin-left: -60px;
      }
    }
  }
  .team {
    margin-top: 10px;
    &.right-border {
      border-right: 1px solid white;
      @media(max-width: 768px) {
        border-right: none;
      }
    }
  }
  .team-bar {
    padding: 2px 2px;
    height: 36px;
    position: relative;
    font-weight: bold;
    .team-name {
      position: absolute;
      bottom: 8px;
    }
    &.left-pane {
      text-align: left;
      .team-name {
        text-align: right;
        right: 10px;
      }
    }
    &.right-pane {
      text-align: right;
      .team-name {
        text-align: left;
        left: 10px;
      }
    }
    .ban-item {
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .players {
    .player {
      padding: 10px 1px;
      @media(max-width: 991px) {
        border-bottom: 4px solid $gray;
        padding: 15px 1px;
      }
      .hr {
        &.b1 {
          border-top: 1px solid $gray;
        }
        &.b2 {
          border-top: 2px solid $gray;
        }
      }
      .slash {
        padding: 0px 2px;
      }
      .inc {
        color: #BAF4CF;
      }
      .dec {
        color: #EB88B2;
      }
      .item-labels {
        position: relative;
        .item-label {
          position: relative;
          font-size: 0.7em;
          color: $color_label;
        }
      }
      .intro {
        .summoner-name {
          height: 38px;
          font-weight: 500;
          word-wrap: break-word;
          text-decoration: underline;
          a {
            color: yellow;
            font-size: 0.8em;
            &:hover {
              color: $white;
            }
          }
        }
        .champion-icon {
          position: relative;
          .champ-icon-inner {
            position: relative;
            margin: 0 auto;
            width: 75px;
            height: 74px;
            img {
              width: 75px;
              height: 74px;
            }
            .champion-name {
              position: absolute;
              left: 0px;
              bottom: 0px;
              width: 100%;
              a {
                font-size: 0.8em;
                font-weight: 600;
                text-decoration: underline;
                &:hover {
                  color: yellow;
                }
              }
            }
          }
        }
        .skills {
          img {
            margin: 3px 1px;
            width: 35px;
            height: 35px;
          }
        }
        .tier {
          padding-top: 3px;
          min-height: 25px;
        }
        .tier-img {
          width: 28px;
          height: 25px;
        }
        .lp {
          min-height: 25px;
        }
        .rank-progress {
          min-height: 22px;
        }
        .mas-runes {
          margin: 0 auto;
          width: 95px;
          .label {
            position: relative;
            cursor: help;
            margin: 1px;
            text-overflow: ellipsis;
            overflow: hidden;
            &.runes {
              background-color: #AA42EB;
            }
            &.masteries {
              background-color: #6185A3;
            }
          }
        }
        .stats-links {
          padding: 5px 0px;
          a {
            color: yellow;
            font-size: 0.8em;
          }
        }
        .main-role {
          position: relative;
          min-height: 35px;
          padding: 5px 0px;
        }
      }
      .stats {
        .wl {
          height: 70px;
          padding: 5px 0px;
        }
        .kda {
          height: 70px;
          padding: 5px 0px;
        }
        .cs {
          position: relative;
          min-height: 50px;
          padding: 5px 0px;
          .cs-stats-icon {
            color: yellow;
          }
          .cs-chart {
            display: none;
            position: absolute;
            top: 100%;
            max-width: 230px;
            background-color: #373737;
            z-index: 10;
            padding: 5px;
            border-radius: 10px;
          }
          &:hover,
          &:active {
            background-color: #8364FF;
            .cs-chart {
              display: block;
            }
          }
        }
        .jcs {
          min-height: 50px;
          padding: 5px 0px;
        }
        .support {
          min-height: 50px;
          padding: 5px 0px;
        }
        .aggresive {
          min-height: 50px;
          padding: 5px 0px;
        }
        .kill-rate,
        .dmg-rate {
          min-height: 65px;
          padding: 5px 0px;
          .rate-chart {
            padding: 6px 5px;
            max-width: 100px;
            margin: 0 auto;
          }
        }
        .last10-wl {
          margin: 0 auto;
          min-height: 73px;
          max-width: 90px;
          padding: 5px 0px;
          .wl-badges {
            .wl-badge {
              display: inline-block;
              border-radius: 5px;
              width: 16px;
              height: 16px;
              margin: 1px;
              padding: 0px;
              i{
                font-size: 1em;
              }
            }
            .w {
              background-color: #5FED5F;
            }
            .l {
              background-color: #E75955;
            }
          }
        }
        .badges {
          padding: 5px 0px;
        }
      }
    }
  }
  .blue-team {
    .team-bar {
      background-color: $blue_team;
    }
    .champion-icon {
      img {
        border: 2px solid $blue_team;
      }
    }
    .champion-name {
      background-color: rgba(66, 141, 185, 0.75)
    }
    .cs-chart {
      left: 10%;
    }
  }
  .red-team {
    .team-bar {
      background-color: $red_team;
    }
    .champion-icon {
      img {
        border: 2px solid $red_team;
      }
    }
    .champion-name {
      background-color: rgba(172, 39, 39, 0.75);
    }
    .cs-chart {
      right: 10%;
    }
  }
  .error {
    margin-top: 50px;
    a {
      color: #9494FF;
      font-size: 1.3em;
    }
  }
  .loading {
    // margin-top: 50px;
  }
  .badge-item {
    position: relative;
    .badge {
      cursor: pointer;
      margin-top: 3px;
      width: 85px;
      border: 1px solid white;
      &.hot {
        background: #A95804;
      }
      &.veteran {
        background: #8A9939;
      }
      &.fresh {
        background: #46A47D;
      }
      &.role {
        background: #6B46FF;
      }
      &.tilt {
        background: #C33C38;
      }
      &.cold{
        background: #514C4C;
      }
      &.super {
        background: rgb(247, 126, 0);
      }
    }
  }
  .item-tooltip,
  .runes,
  .main-role,
  .masteries {
    .hover-detail {
      display: none;
      position: absolute;
      font-size: 12px;
      top: 100%;
      left: 50%;
      min-width: 100px;
      background-color: #8364FF;
      z-index: 10;
      padding: 5px;
      border-radius: 10px;
      color: white;
    }
    &:hover,
    &:active {
      .hover-detail {
        display: block;
      }
    }
  }

  .ads{
    padding-top: 10px;
    .ad{
      display: inline-block;
      padding: 10px;
    }
  }
}