.home {
  text-align: center;
  .search-panel {
    margin: 0 auto;
    max-width: 600px;
    padding: 60px 0px 60px 0px;
    .title-message {
      font-family: 'Exo', sans-serif;
      font-weight: 900;
      font-size: 4.5em;
      letter-spacing: 4px;
      padding: 30px 0px 50px 0px;
      @media(max-width: 991px) {
        // padding: 0px 30px 20px 30px;
      }
      @media(max-width: 767px) {
        font-size: 3em;
      }
    }
    .search-game-container {
      display: block;
      position: relative;
      background-color: white;
      color: black;
      border-radius: 0px;
      height: 72px;
      width: 590px;
      margin: 0 auto;
      .form-element {
        position: absolute;
        bottom: 0px;
        display: table-cell;
        vertical-align: middle;
        border-color: none;
        border-radius: 0px;
        border: none;
        height: 72px;
        font-size: 1.6em;
        &:focus {
          @extend %no_outline;
        }
      }
      .input-search {
        width: 400px;
        left: 0px;
      }
      .input-region {
        color: gray;
        font-size: 1.3em;
        width: 110px;
        right: 80px;
        &:focus {
          opacity: 0.7;
        }
      }
      .btn-search {
        right: 0px;
        color: white;
        border-radius: 0px;
        width: 80px;
        padding: 0px;
        background: #76b852;
        background: -webkit-linear-gradient(90deg, #76b852 10%, #8DC26F 90%);
        background: -moz-linear-gradient(90deg, #76b852 10%, #8DC26F 90%);
        background: -ms-linear-gradient(90deg, #76b852 10%, #8DC26F 90%);
        background: -o-linear-gradient(90deg, #76b852 10%, #8DC26F 90%);
        background: linear-gradient(90deg, #76b852 10%, #8DC26F 90%);
        &:hover {
          opacity: 0.7;
        }
      }
      @media(max-width: 767px) {
        width: 440px;
        height: 60px;
        .form-element {
          height: 60px;
          font-size: 1.1em;
        }
        .input-search {
          width: 295px;
        }
        .input-region {
          width: 75px;
          right: 70px;
        }
        .btn-search {
          width: 70px;
        }
      }
      @media(max-width: 500px) {
        width: 295px;
        height: 45px;
        .form-element {
          height: 45px;
          font-size: 0.9em;
        }
        .input-search {
          width: 175px;
        }
        .input-region {
          width: 75px;
          right: 45px;
        }
        .btn-search {
          width: 45px;
        }
      }
    }
  }
  .rotation-desc{
    display: block;
    max-width: 280px;
    margin: 30px auto;
    padding: 5px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: black;
  }
  .rotation-roster{
    display: block;
    max-width: 520px;
    margin: 30px auto;
    border: 10px solid gray;
    border-radius: 10px;
    img{
      display: inline-block;
      width: 50px;
      height: 50px;
    }
  }
}