.page-match {
  .match-player {
    width: 1165px;
    text-align: center;
    margin: 0px auto;
  }
  .match-tables {}
  .match-table {
    display: inline-table;
    img.riot-icon {
      border-radius: 100%;
    }
    .head-row {
      position: relative;
      background-color: rgba(47, 47, 55, 0.73);
      border: 2px solid #222;
      min-height: 40px;
      .win,
      .lost {
        padding: 5px;
        width: 110px;
        font-size: 1.2em;
        font-weight: 900;
      }
      .win {
        background-color: $color_win;
      }
      .lost {
        background-color: $color_lost;
      }
      .bans{
        position: absolute;
        right: 0px;
        bottom: 3px;
        .ban-text{
          display: inline-block;
          font-weight: 800;
        }
        .ban-item{
          width: 30px;
          height: 30px;
        }
      }
    }
    .summary-row {
      font-size: 1.2em;
      font-weight: 900;
      .baron-kills,
      .dragon-kills,
      .building-kills {
        display: table-cell;
        width: 90px;
        padding: 15px 0px;
      }
      .team-kda {
        display: table-cell;
        width: 140px;
      }
      .team-gold {
        display: table-cell;
        width: 140px;
        .current-gold {}
        .total-gold {
          font-size: 0.5em;
          margin-left: 18px;
        }
      }
    }
    .icons-row {
      background-color: rgba(47, 47, 55, 0.73);
      border: 2px solid #222;
      .summoner {
        display: table-cell;
        width: 215px;
      }
      .items {
        display: table-cell;
        width: 110px;
      }
      .kills {
        display: table-cell;
        width: 80px;
      }
      .minions {
        display: table-cell;
        width: 50px;
      }
      .gold {
        display: table-cell;
        width: 95px;
      }
    }
    .champions-section {
      display: table;
      border-collapse: collapse;
      // width: 100%;
      .champion-row {
        display: table-row;
        background-color: #2F2F37;
        border: 2px solid #222;
        .champion-icon {
          display: table-cell;
          vertical-align: middle;
          width: 55px;
          img {
            width: 55px;
            height: 55px;
          }
        }
        .champion-spells {
          display: table-cell;
          vertical-align: middle;
          width: 25px;
          img {
            width: 25px;
            height: 25px;
          }
        }
        .summoner-name-role {
          display: table-cell;
          text-align: left;
          vertical-align: middle;
          padding: 0px 8px;
          width: 135px;
          font-size: 0.9em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          .name {}
          .role {
            color: gray;
            font-weight: 600;
          }
        }
        .game-items {
          display: table-cell;
          padding: 0px 8px;
          width: 110px;
          text-align: left;
          vertical-align: middle;
          .game-item {
            padding: 0px;
            margin: 0px;
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
        .match-kda {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          padding: 0px 8px;
          width: 80px;
        }
        .cs {
          display: table-cell;
          vertical-align: middle;
          padding: 0px 8px;
          width: 50px;
          text-align: center;
        }
        .gold {
          display: table-cell;
          vertical-align: middle;
          padding: 0px 8px;
          width: 95px;
          .total-gold {
            font-size: 0.7em;
            margin-left: 3px;
          }
        }
      }
    }
  }
  .timeline-player-row {
    position: relative;
    margin: 8px auto;
    width: 1110px;
    .player-control {
      display: inline-block;
      position: absolute;
      left: 0px;
      top: 0px;
      .play-btn,
      .replay-btn,
      .pause-btn,
      .stop-btn {
        display: inline-block;
        width: 24px;
        font-size: 1.4em;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .player-bar {
      display: inline-block;
      position: relative;
      margin-left: 60px;
      border: 1px solid #333;
      background: #242329;
      height: 31px;
      width: 1050px;
      .player-display {
        height: 30px;
        position: absolute;
        width: 100%;
        .player-progress {
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(128, 113, 210, 0.22);
          height: 30px;
          width: 0px;
        }
        .frame-number {
          position: absolute;
          left: 47%;
          top: 5px;
        }
      }
    }
  }
}