.page-match {
  min-height: 550px;
  padding-bottom: 100px;
  width: 1165px;
  margin: 0px auto;
  text-align: center;
  .nav-btn {
    text-align: left;
    width: 1100px;
    margin: 0 auto;
    a {
      color: yellow;
    }
  }
  .info {
    position: relative;
    margin: 0px auto;
    width: 1110px;
    text-align: left;
    padding-bottom: 20px;
    .match-type {
      margin-bottom: 0px;
    }
    .duration {
      font-weight: 900;
      font-size: 1.5em;
    }
    .created_at {
      font-weight: 300;
      font-size: 1.3em;
    }
    .social {
      position: absolute;
      right: 5px;
      top: 0px;
      font-size: 3em;
      .s-text{
        font-size: 0.6em;
        font-weight: 900;
      }
      .s-item{
        cursor: pointer;
        &:hover{
          color: #4E75A9;
        }
      }
    }
  }
  .match-player {
    margin: 0px auto;
  }
  .match-table {
    // width: 554px;
    display: inline-table;
    img.riot-icon {
      border-radius: 100%;
    }
    .head-row {
      position: relative;
      background-color: rgba(47, 47, 55, 0.73);
      border: 2px solid #222;
      min-height: 40px;
      .win,
      .lost {
        padding: 5px;
        width: 110px;
        font-size: 1.2em;
        font-weight: 900;
      }
      .win {
        background-color: $color_win;
      }
      .lost {
        background-color: $color_lost;
      }
      .bans {
        position: absolute;
        right: 0px;
        bottom: 3px;
        .ban-text {
          display: inline-block;
          font-weight: 800;
        }
        .ban-item {
          width: 30px;
          height: 30px;
        }
      }
    }
    .summary-row {
      font-size: 1.2em;
      font-weight: 900;
      .baron-kills,
      .dragon-kills,
      .building-kills {
        display: table-cell;
        width: 90px;
        padding: 15px 0px;
      }
      .team-kda {
        display: table-cell;
        width: 140px;
      }
      .team-gold {
        display: table-cell;
        width: 140px;
        .current-gold {}
        .total-gold {
          font-size: 0.5em;
          margin-left: 18px;
        }
      }
    }
    .icons-row {
      background-color: rgba(47, 47, 55, 0.73);
      border: 2px solid #222;
      .summoner {
        display: table-cell;
        width: 215px;
      }
      .items {
        display: table-cell;
        width: 110px;
      }
      .kills {
        display: table-cell;
        width: 80px;
      }
      .minions {
        display: table-cell;
        width: 50px;
      }
      .gold {
        display: table-cell;
        width: 95px;
      }
    }
    .champions-section {
      display: table;
      border-collapse: collapse;
      // width: 100%;
      .champion-row {
        display: table-row;
        background-color: #2F2F37;
        border: 2px solid #222;
        .champion-icon {
          display: table-cell;
          vertical-align: middle;
          width: 55px;
          img {
            width: 55px;
            height: 55px;
          }
        }
        .champion-spells {
          display: table-cell;
          vertical-align: middle;
          width: 25px;
          img {
            width: 25px;
            height: 25px;
          }
        }
        .summoner-name-role {
          display: table-cell;
          text-align: left;
          vertical-align: middle;
          padding: 0px 8px;
          width: 135px;
          font-size: 0.9em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          .name {}
          .role {
            color: gray;
            font-weight: 600;
          }
        }
        .game-items {
          display: table-cell;
          padding: 0px 8px;
          width: 110px;
          text-align: left;
          vertical-align: middle;
          .game-item {
            padding: 0px;
            margin: 0px;
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
        .match-kda {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          padding: 0px 8px;
          width: 80px;
        }
        .cs {
          display: table-cell;
          vertical-align: middle;
          padding: 0px 8px;
          width: 50px;
          text-align: center;
        }
        .gold {
          display: table-cell;
          vertical-align: middle;
          padding: 0px 8px;
          width: 95px;
          .total-gold {
            font-size: 0.7em;
            margin-left: 3px;
          }
        }
      }
    }
  }
  .timeline-player-row {
    position: relative;
    margin: 8px auto;
    width: 1110px;
    background-color: rgba(73, 140, 151, 0.61);
    .player-control {
      display: inline-block;
      position: absolute;
      left: 0px;
      top: 0px;
      .play-btn,
      .replay-btn,
      .pause-btn,
      .stop-btn {
        display: inline-block;
        width: 24px;
        font-size: 1.4em;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .player-bar {
      display: inline-block;
      position: relative;
      cursor: col-resize;
      margin-left: 60px;
      border: 1px solid #333;
      background: rgba(36, 35, 41, 0.49);
      height: 31px;
      width: 1050px;
      .player-display {
        height: 30px;
        position: absolute;
        width: 100%;
        .player-progress {
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(20, 45, 53, 0.75);
          height: 30px;
          width: 0px;
        }
        .frame-number {
          position: absolute;
          -moz-user-select: none;
          -khtml-user-select: none;
          -webkit-user-select: none;
          -o-user-select: none;
          left: 47%;
          top: 5px;
        }
      }
    }
  }
  .match-stats {
    display: table;
    margin: 50px auto 10px auto;
    border-collapse: collapse;
    width: 1110px;
    .row-stat {
      position: relative;
      display: table-row;
      border: 2px solid #222;
      background-color: rgba(64, 64, 93, 0.35);
      &.row-alt {
        background-color: rgba(64, 64, 93, 0.2)
      }
    }
    .head-desc {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      font-size: 1.1em;
      font-weight: 900;
      padding: 9px 0px 9px 15px;
    }
    .cell-item {
      display: table-cell;
      vertical-align: middle;
      padding: 0px 5px;
    }
    .champions-roster {
      .head-desc {
        font-size: 1.5em;
        padding: 18px 0px 18px 5px;
      }
      .champion-item {
        display: table-cell;
        vertical-align: middle;
        width: 85px;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
    .kda-rate-row,
    .kill-participation-row,
    .death-participation-row,
    .assist-participation-row,
    .max-killing-spree-row,
    .dmg-ratio-row,
    .wards-placed-ratio-row {}
  }
}