.page-summoner {
  .summoner-info-wrapper {
    min-height: 500px;
  }
  .summoner-profile {
    .profile-info {
      background-color: rgba(128, 128, 128, 0.33);
      padding-right: 8px;
      .p-icon {
        display: inline-block;
        img {
          width: 70px;
          height: 70px;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .p-info {
        display: inline-block;
        vertical-align: middle;
        padding: 10px 8px;
        .p-name {
          font-size: 0.9em;
          font-weight: bolder;
          padding-bottom: 8px;
        }
        .p-from {
          .p-region {}
          .p-level {}
        }
      }
    }
    .rank-info {
      .rank-item {
        background-color: rgba(128, 128, 128, 0.12);
        padding: 0px 8px;
        border-bottom: 1px solid $gray;
        .r-icon {
          display: inline-block;
          img {
            width: 70px;
            height: 70px;
          }
        }
        .r-detail {
          padding: 10px 0px;
          display: inline-block;
          vertical-align: middle;
          font-size: 0.9em;
          .r-queue {
            font-size: 0.7em;
            font-style: italic;
            color: $gray;
          }
          .r-team-name {}
          .r-tier {
            font-weight: 400;
          }
          .r-lp {
            .mini-series {
              display: inline-block;
              margin-left: 15px;
              font-style: 0.8em;
            }
          }
        }
      }
    }
  }
  .summoner-tabs {
    width: 100%;
    display: table;
    text-align: center;
    margin: 5px 0px 20px 0px;
    .tab {
      width: 50%;
      cursor: pointer;
      display: table-cell;
      border: 1px solid rgba(82, 77, 67, 0.75);
      font-size: 1.2em;
      font-weight: 900;
      padding: 5px;
      background: rgba(57, 73, 89, 0.53);
      &:hover{
        background-color: #344B65;
      }
      &.active{
        background-color: rgba(52, 75, 101, 0.83);
      }
    }
  }
}