<noscript>
    <h1>Sorry, your browser is not supported</h1>
    <h2>For best results, please use Chrome</h2>
    <h3>Supported Browsers: Chrome, IE10+, Firefox, Safari</h3>
</noscript>
<div id="error-browser-not-support" class="error-block" style="display:none;">
    <h1>Sorry, your browser is not supported</h1>
    <h2>For best results, please use Chrome</h2>
    <h3>Supported Browsers: Chrome, IE10+, Firefox, Safari</h3>
  <p class="error-text"></p>
</div>
