<div id="error-browser-not-support" class="error-block" style="display:none;">
  <h3>Sorry, your browser is not supported.</h3>
  <div class="error-icon">
    <img src="/assets/gif/janna-applogize.gif" />
  </div>
  <p class="error-text"></p>
</div>