<div class="mastfoot">
  <div class="inner">
    <p>
      LeagueGG isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. 
      <br>
      League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
    </p>
    <p class="copy">
      &copy; 2015 LeagueGG.com
    </p>
  </div>
</div>