<div class="masthead clearfix">
  <h3 class="masthead-brand">LeagueGG</h3>
  <nav>
    <ul class="nav masthead-nav">
      <li <%if @nav=='game'%>class="active"<%end%>><a href="/">Live Game</a></li>
      <li <%if @nav=='rotation'%>class="active"<%end%>><a href="/rotation">Free Champions</a></li>
      <li <%if @nav=='app'%>class="active"<%end%>><a href="/app">App</a></li>
    </ul>
  </nav>
</div>