<% @featured['game_list'].each_with_index do |game, i| %>
  <div class="item <%if i==0%>active<%end%>">
    <div class="featured-team left">
      <%= render partial: 'featured_team', locals: {team: game['teams'][0]} %>
      <div class="team-banner">
        <%= render partial: 'team_banner', locals: {team: game['teams'][0]} %>
      </div>
    </div>
    <div class="featured-team right">
      <%= render partial: 'featured_team', locals: {team: game['teams'][1]} %>
      <div class="team-banner">
        <%= render partial: 'team_banner', locals: {team: game['teams'][1]} %>
      </div>
    </div>
    <div class="play-mask">
    </div>
  </div>
<% end %>
