<h3>Find out how aggresive your opponents are,<br>and how helpful your team is.</h3>

<!-- large page form -->
<form class="hidden-xs" action="/search" role="search" method="get">
  <div class="search-game-container">
    <input type="hidden" name="type" value="game">
    <input type="text" autocapitalize="off" autocorrect="off" autofocus="" spellcheck="false" class="form-element input-lg input-search" name="summoner_name" placeholder="Search for summoner in game...">
    <select class="form-element input-lg input-region" name="region">
      <% Consts::Platform.region_list.each do |r| %>
        <option value="<%=r%>"><%=r.upcase%></option>
      <% end %>
    </select>
    <button class=" form-element btn btn-default btn-lg btn-search" type="submit">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </div>
</form>

<!-- small page form -->
<form class="visible-xs-inline-block" action="/search" role="search" method="get">
  <div class="search-game-container">
    <input type="hidden" name="type" value="game">
    <input type="text" autocapitalize="off" autocorrect="off" autofocus="" spellcheck="false" class="form-element input-lg input-search" name="summoner_name" placeholder="Search for summoner in game...">
    <select class="form-element input-lg input-region" name="region">
      <% Consts::Platform.region_list.each do |r| %>
        <option value="<%=r%>"><%=r.upcase%></option>
      <% end %>
    </select>
    <button class=" form-element btn btn-default btn-lg btn-search" type="submit">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </div>
</form>