<div class="search-game">
  <div class="col-md-7 search-panel">
    <%= render 'search_panel' %>
  </div>
  <div class="col-md-5 featured-panel">
    <% begin %>
    <%= render 'featured_games' %>
    <% rescue %>
    <% end %>
  </div>
</div>
