<form class="summoner-search-bar" action="/search" role="search" method="get">
  <div class="summoner-search-container">
    <input type="hidden" name="type" value="summoner">
    <input type="text" autocapitalize="off" autocorrect="off" autofocus="" spellcheck="false" class="form-element input-sm input-search" name="summoner_name" placeholder="Summoner..." value="<%=params['summoner_name']%>">
    <select class="form-element input-sm input-region" name="region">
      <% Consts::Platform.region_list.each do |r| %>
        <option value="<%=r%>" <%= params['region'].try(:downcase)==r ? 'selected' : '' %> ><%=r.upcase%></option>
      <% end %>
    </select>
    <button class=" form-element btn btn-default btn-sm btn-search" type="submit">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </div>
</form>