<% content_for :js do %>
  <script type='text/javascript'>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function() {
      var gads = document.createElement('script');
      gads.async = true;
      gads.type = 'text/javascript';
      var useSSL = 'https:' == document.location.protocol;
      gads.src = (useSSL ? 'https:' : 'http:') +
        '//www.googletagservices.com/tag/js/gpt.js';
      var node = document.getElementsByTagName('script')[0];
      node.parentNode.insertBefore(gads, node);
    })();
  </script>

  <script type='text/javascript'>
    googletag.cmd.push(function() {
      googletag.defineSlot('/103943719/blueix', [970, 90], 'div-gpt-ad-1431922465935-0').addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.enableServices();
    });
  </script>
<% end %>

<%= javascript_include_tag 'game' %>

<div class="live-game">

  <% if @error %>
    <h3>
      <%= @error.message %>
    </h3>
  <% else %>

    <%= render partial: 'team', locals: {team: @game.teams[0], name: 'blue'} %>
    <%= render partial: 'team', locals: {team: @game.teams[1], name: 'red'} %>

  <% end %>

</div>

<!-- /103943719/blueix -->
<div id='div-gpt-ad-1431922465935-0' style='height:90px; width:970px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1431922465935-0'); });
</script>
</div>

