<% content_for :js do %>

<% end %>
<%= javascript_include_tag 'game' %>

<div class="live-game">

  <% if @error %>
    <h3>
      <%= @error.message %>
    </h3>
  <% else %>

    <%= render partial: 'team', locals: {team: @game.teams[0], name: 'blue'} %>
    <%= render partial: 'team', locals: {team: @game.teams[1], name: 'red'} %>

  <% end %>

</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- game-page-bottom -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3874400567673116"
     data-ad-slot="3750024989"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>