<%= javascript_include_tag 'game' %>

<div class="live-game">

  <% if @error %>
    <h3>
      <%= @error.message %>
    </h3>
  <% else %>

    <%= render partial: 'team', locals: {team: @game.teams[0], name: 'blue'} %>
    <%= render partial: 'team', locals: {team: @game.teams[1], name: 'red'} %>

  <% end %>

</div>
