<div class="home">
  <div class="search-panel">
    <live-game-search></live-game-search>
  </div>
  <div class="rotation-desc">
    This week's free champions
  </div>
  <div class="rotation-roster">
    <img ng-src="{{p.img}}" ng-repeat="p in data.free_champions">
  </div>
  <div class="ads">
    <div class="ad">
      <a href="http://www.pokemonunion.com" target="_blank"><img src="/static/img/pokemongo-banner.jpg" style="max-height: 165px; border:2px solid #6bc7c7;" alt="Pokemon Union"></a>
    </div>
  </div>
  <!-- <div class="col-md-5 featured-panel">
    <featured-games></featured-games>
  </div> -->
</div>