<div class="live-game">
  <div class="row">
    <loading status="loading.game">
    </loading>
  </div>
  <div class="live-game-wrapper row">
    <div class="error" ng-if="error">
      <div class="error-text">
        <h2>{{ error }}</h2>
      </div>
      <div class="error-champion" ng-if="error_summoner_not_in_game">
        <a href="/summoner/{{query.region}}/{{query.summoner}}">
          See {{query.summoner}}'s history stats
        </a>
      </div>
    </div>
    <div class="fade-in-anim" ng-if="!error && game">
      <div class="intro-ad purple">
        <a href="/summoner/{{query.region}}/{{query.summoner}}/matches/">
          <span class="label label-info"><i class="fa fa-play-circle-o"></i>Replay</span> feature is available now, see how everyone did in your recent matches
        </a>
      </div>
      <div class="intro-ad blue">
        <i class="fa fa-info-circle"></i> Hover over CS to see performance timeline chart
      </div>
      <div>
        <game-team class="team col-sm-6" team="team" season="season" region="game.region" ng-repeat="team in ::game.teams track by $index" ng-class="{'right-border': team.id==100, 'blue-team':(team.id==100), 'red-team':(team.id==200)}" />
      </div>
    </div>
  </div>
</div>