<div class="live-game">
  <loading status="loading.game">
  </loading>
  <div class="error" ng-if="error">
    <div class="error-img janna">
      <img src="/static/gif/janna-applogize.gif" />
    </div>
    <div class="error-text">
      {{ error }}
    </div>
  </div>
  <div class="fade-in-anim" ng-if="!error && game">
    <game-team class="team col-sm-6" team="team" season="season" region="game.region" ng-repeat="team in game.teams" ng-class="{'right-border': team.id==100}" />
  </div>
</div>