<h1 class="title-message">
  LeagueGG
</h1>

<div class="search-form">
  <div role="search">
    <div class="search-game-container">
      <input type="text" autocapitalize="off" autocorrect="off" autofocus="true" spellcheck="false" class="form-element input-lg input-search" name="summoner_name" placeholder="Summoner Name" ng-model="query.summoner" ng-enter="submitSearch()">
      <select class="form-element input-lg input-region" ng-options="p for p in platforms track by p" ng-model="query.region"></select>
      <button class=" form-element btn btn-default btn-lg btn-search" type="submit" ng-click="submitSearch()">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
  </div>
</div>