<div class="team-bar left-pane col-md-12" ng-if="team.id==100">
  <div class="bans">
    <span class="ban-item" ng-repeat="ban in team.banned_champions track by $index">
      <img ng-src="{{ban.img}}" err-src="/static/img/leaguegg-icon.png">
    </span> Bans
  </div>
  <div class="team-name">
    Blue Team
  </div>
</div>
<div class="team-bar right-pane col-md-12" ng-if="team.id==200">
  <div class="team-name">
    Red Team
  </div>
  <div class="bans">
    Bans
    <span class="ban-item" ng-repeat="ban in team.banned_champions track by $index">
      <img ng-src="{{ban.img}}" err-src="/static/img/leaguegg-icon.png">
    </span>
  </div>
</div>
<div class="players col-md-12" ng-class="{'five-cols':(team.participants.length==5)}">
  <div class="player" ng-class="{'col-md-1':(team.participants.length==5), 'col-md-4':(team.participants.length==3)}" ng-repeat="p in team.participants track by $index">
    <div class="intro">
      <div class="summoner-name" title="{{p.summoner.name}}">
        <a href="/summoner/{{region}}/{{p.summoner.id}}-{{p.summoner.name}}" target="_blank" ng-click="summonerClicked(p.summoner)">{{p.summoner.name | characters:16}}</a>
      </div>
      <div class="champion-icon">
        <div class="champ-icon-inner">
          <img ng-src="{{p.champion.img}}" err-src="/static/img/leaguegg-icon.png">
          <div class="champion-name">
            <a href="/summoner/{{region}}/{{p.summoner.id}}-{{p.summoner.name}}/champion/{{p.champion.id}}" target="_blank" ng-click="championClicked(p.summoner, p.champion)">{{p.champion.name | characters:10}}</a>
          </div>
        </div>
      </div>
      <div class="skills">
        <img ng-src="{{p.spell1.img}}" err-src="/static/img/leaguegg-icon.png">
        <img ng-src="{{p.spell2.img}}" err-src="/static/img/leaguegg-icon.png">
      </div>
      <div class="tier">
        {{p.league_entry.tier | titleize}}&nbsp;{{p.league_entry.division}}
      </div>
      <div class="lp">
        <img class="tier-img" ng-src="/static/img/riot/tier/sm/{{p.league_entry.tier|lowercase}}.png" err-src="/static/img/leaguegg-icon.png" ng-if="p.league_entry.tier" />
        <img class="tier-img" src="/static/img/leaguegg-icon.png" ng-if="!p.league_entry.tier" />
        <span>
          {{p.league_entry.league_points || 0}} LP
        </span>
      </div>
      <div class="rank-progress">
        <mini-series sequence="p.league_entry.mini_series.progress"></mini-series>
      </div>
      <div class="mas-runes">
        <span class="label label-default" tooltip-html="p.runes_tooltip_html">Runes</span>
        <span class="label label-default" tooltip-html="p.masteries_tooltip_html">{{p.masteries_grouped.offense}}/{{p.masteries_grouped.defense}}/{{p.masteries_grouped.utility}}</span>
      </div>
      <div class="main-role">
        <div class="item-labels">
          <span class="item-label" data-tooltip="Most played roles based on last 60 games">Mains</span>
        </div>
        <roles roles="p.player_roles" />
      </div>
    </div>
    <div class="hr b2 hidden-sm hidden-xs"></div>
    <div class="stats">
      <div class="wl season">
        <div class="item-labels">
          <span class="item-label" data-tooltip="{{p.summoner.name}}'s win% on {{p.champion.name}} for current season">Season W/L</span>
        </div>
        <wl w="p.ranked_stat_overall.won" l="p.ranked_stat_overall.lost" rate="p.ranked_stat_overall.win_rate" />
      </div>
      <div class="kda season">
        <div class="item-labels">
          <span class="item-label" data-tooltip="{{p.summoner.name}}'s KDA on {{p.champion.name}} for current season">Season KDA</span>
        </div>
        <kda k="p.ranked_stat_overall.avg_kills" d="p.ranked_stat_overall.avg_deaths" a="p.ranked_stat_overall.avg_assists" rate="p.ranked_stat_overall.kda_rate" />
      </div>
      <div class="kda recent">
        <div class="item-labels">
          <span class="item-label" data-tooltip="{{p.summoner.name}}'s Recent KDA on {{p.champion.name}}">Recent KDA</span>
        </div>
        <kda k="p.ranked_stat_recent.avg_kills" d="p.ranked_stat_recent.avg_deaths" a="p.ranked_stat_recent.avg_assists" rate="p.ranked_stat_recent.kda_rate" />
      </div>
      <div class="cs" ng-mouseenter="csHovered()">
        <div class="item-labels">
          <span class="item-label" data-tooltip="Average creep score at 10 minutes"><i class="fa fa-line-chart cs-stats-icon"></i> CS</span> &nbsp;&nbsp;
          <span class="item-label" data-tooltip="Average creep score difference compare with opponent at 10 minutes">CSD</span>
        </div>
        <div>
          <span class="me">
            {{p.ranked_stat_recent.avg_cs_at_10m | nullcheck: '-'}}
          </span> &nbsp;&nbsp;&nbsp;
          <span class="counter" ng-class="{inc:p.ranked_stat_recent.avg_cs_at_10m>0,dec:p.ranked_stat_recent.avg_cs_diff_at_10m<0}">
            <span ng-if="p.ranked_stat_recent.avg_cs_diff_at_10m>0">+</span>{{p.ranked_stat_recent.avg_cs_diff_at_10m | nullcheck: '-'}}
          </span>
        </div>
        <div class="cs-chart">
          <gg-timeline-chart name="CS" timeline="p.ranked_stat_recent.avg_timeline_cs" timeline-diff="p.ranked_stat_recent.avg_timeline_csd" series="[p.summoner.name, 'Opponent']" title="'Average CS Per Minute'"></gg-timeline-chart>
        </div>
      </div>
      <div class="jcs">
        <div class="item-labels">
          <span class="item-label" data-tooltip="Average neutral minion kills at team jungle">JCS</span> &nbsp;&nbsp;
          <span class="item-label" data-tooltip="Average neutral minion kills at enemy jungle">CJCS</span>
        </div>
        <span class="me">
          {{p.ranked_stat_recent.avg_team_jungle_kills | nullcheck: '-'}}
        </span> &nbsp;&nbsp;&nbsp;
        <span class="counter">
          {{p.ranked_stat_recent.avg_enemy_jungle_kills | nullcheck: '-'}}
        </span>
      </div>
      <div class="support">
        <div class="item-labels">
          <span class="item-label" data-tooltip="Average gold earned at 10 minutes">Gold</span> &nbsp;&nbsp;
          <span class="item-label" data-tooltip="Average wards placed">Wards</span>
        </div>
        <span class="gold">
          {{p.ranked_stat_recent.avg_gold_at_10m | number2k: 1 | nullcheck: '-' }}
        </span> &nbsp;&nbsp;&nbsp;
        <span class="wards">
          {{p.ranked_stat_recent.avg_wards_placed | nullcheck: '-'}}
        </span>
      </div>
      <div class="kill-rate">
        <div class="item-labels">
          <span class="item-label" data-tooltip="Kill contribution%">Kill/C %</span>
        </div>
        <div class="rate-chart">
          <uib-progressbar max="1" value="p.ranked_stat_recent.killc_rate||0" type="{{p.ranked_stat_recent.killc_rate > 0.5 ? 'danger' : 'info'}}">
            <p class="progress-text">{{p.ranked_stat_recent.killc_rate | percentage: 1 | nullcheck: '-'}}</p>
          </uib-progressbar>
        </div>
      </div>
      <div class="badges">
        <div class="item-labels">
          <span class="item-label">Ranked Badges</span>
        </div>
        <div class="badge-item" ng-if="p.league_entry.is_hot_streak">
          <span class="badge hot" data-tooltip="Win 3 or more games in a row">Hot Streak</span>
        </div>
        <div class="badge-item" ng-if="p.league_entry.is_veteran">
          <span class="badge veteran" data-tooltip="Played 100 games in the current league">Veteran</span>
        </div>
        <div class="badge-item" ng-if="p.league_entry.is_fresh_blood">
          <span class="badge fresh" data-tooltip="Recently joined this league">Fresh Blood</span>
        </div>
      </div>
    </div>
  </div>
</div>