<div class="team-bar blue left-pane col-md-12" ng-if="team.id==100">
  <div class="bans">
    <span class="ban-item" ng-repeat="ban in team.banned_champions">
      <img ng-src="{{ban.img}}">
    </span> Bans
  </div>
  <div class="team-name">
    Blue Team
  </div>
</div>
<div class="team-bar red right-pane col-md-12" ng-if="team.id==200">
  <div class="team-name">
    Red Team
  </div>
  <div class="bans">
    Bans
    <span class="ban-item" ng-repeat="ban in team.banned_champions">
      <img ng-src="{{ban.img}}">
    </span>
  </div>
</div>

<div class="players five-cols col-md-12">
  <div class="player col-md-1" ng-repeat="p in team.participants">
    <div class="intro">
      <div class="summoner-name">
        {{p.summoner.name | oneline | characters:15}}
      </div>
      <div class="champion-icon">
        <img ng-src="{{p.champion.img}}" width="59">
      </div>
      <div class="skills">
        <img ng-src="{{p.spell1.img}}" width="27">
        <img ng-src="{{p.spell2.img}}" width="27">
      </div>
      <div class="tier">
        {{p.league_entry.tier}}&nbsp;{{p.league_entry.division}}
      </div>
      <div class="lp">
        <span ng-if="p.league_entry.league_points">
          {{p.league_entry.league_points}} LP
        </span>
      </div>
    </div>
    <div class="hr b2 hidden-sm hidden-xs"></div>
    <div class="stats">
      <div class="champion-name">
        {{p.champion.name | oneline}}
      </div>
      <div class="performance">
        Performance
        <div class="hr b1 hidden-sm hidden-xs"></div>
      </div>
      <div class="wl season">
        <div><span class="item-label">Season WL</span></div>
        <wl w="p.ranked_stat_overall.won" l="p.ranked_stat_overall.lost" rate="p.ranked_stat_overall.win_rate" />
      </div>
      <div class="kda season">
        <div><span class="item-label">Season KDA</span></div>
        <kda k="p.ranked_stat_overall.avg_kills" d="p.ranked_stat_overall.avg_deaths" a="p.ranked_stat_overall.avg_assists" rate="p.ranked_stat_overall.kda_rate" />
      </div>
      <div class="kda recent">
        <div><span class="item-label">Recent KDA</span></div>
        <kda k="p.ranked_stat_recent.avg_kills" d="p.ranked_stat_recent.avg_deaths" a="p.ranked_stat_recent.avg_assists" rate="p.ranked_stat_recent.kda_rate" />
      </div>
      <div class="cs">
        <div>
          <div class="item-label">CS&nbsp;&nbsp;CSD</div>
        </div>
        <span class="me">
          {{p.ranked_stat_recent.avg_cs_at_10m}}
        </span>
        &nbsp;&nbsp;
        <span class="counter">
          {{p.ranked_stat_recent.avg_cs_diff_at_10m}}
        </span>
      </div>
      <div class="jcs">
        <div><span class="item-label">JCS&nbsp;&nbsp;CJCS</span></div>
        <span class="me">
          {{p.ranked_stat_recent.avg_team_jungle_kills}}
        </span>
        &nbsp;&nbsp;
        <span class="counter">
          {{p.ranked_stat_recent.avg_enemy_jungle_kills}}
        </span>
      </div>
      <div class="support">
        <div><span class="item-label">Gold&nbsp;&nbsp;Wards</span></div>
        <span class="gold">
          {{p.ranked_stat_recent.avg_gold_at_10m}}
        </span>
        &nbsp;&nbsp;
        <span class="wards">
          {{p.ranked_stat_recent.avg_wards_placed}}
        </span>
      </div>
      <div class="aggresive hide">
        <div><span class="item-label">Aggresive</span></div>
        {{p.ranked_stat_overall.aggresive_rate}}
      </div>
    </div>
  </div>
</div>