<% content_for :title do %>League of Legends Stats Search App<% end %>
<% content_for :description do %>LeagueGG's mobile application for android and ios<% end %>

<div class="app-content">
  <div class="col-md-6 preview-pane">
    <img class="phone blink" src="static/img/mobile-stream.png">
  </div>
  <div class="col-md-6 instruction-pane">
    <div class="description">
      <ul class="title-items">
        <li class="title"><i class="fa fa-bar-chart"></i> Live Game Stats</li>
        <li class="subtitle">Season Performance</li>
        <li class="subtitle">Recent Performance</li>
        <li class="subtitle">Runes & Masteries</li>
        <li class="title"><i class="fa fa-pie-chart"></i> Detailed Analysis</li>
        <li class="subtitle">Jungle & CS Performance</li>
        <li class="subtitle">Aggresive Rating</li>
        <li class="title"><i class="fa fa-twitch"></i> TwitchTV Live Stream</li>
        <li class="title"><i class="fa fa-trophy"></i> Counter & Build (Coming)</li>
      </ul>
    </div>
    <div class="buttons">
      <a class="btn btn-lg btn-danger btn-download btn-cycle" href="https://play.google.com/store/apps/details?id=com.ty.lolcaf"><span class="fa fa-android"></span> Google Play</a>
      <a class="btn btn-lg btn-danger btn-download btn-cycle disabled" href="#"><span class="fa fa-apple"></span> App Store</a>
    </div>
  </div>
  
</div>
