@keyframes animated-background {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.grow {
  transform: scale(1.5);
  transition: all .3s ease-in-out;
}

[ui-view] {
  &.ng-enter {
    -ms-transition: 0.9s ease-in-out;
    -webkit-transition: 0.9s ease-in-out;
    -o-transition: 0.9s ease-in-out;
    transition: 0.9s ease-in-out;
  }
  &.ng-leave,
  &.ng-hide {
    -ms-transition: 0s ease-in-out;
    -webkit-transition: 0s ease-in-out;
    -o-transition: 0s ease-in-out;
    transition: 0s ease-in-out;
  }
  &.ng-enter {
    opacity: 0;
  }
  &.ng-enter-active {
    opacity: 1;
  }
  &.ng-leave,
  &.ng-hide {
    opacity: 0;
  }
  &.ng-leave-active {
    opacity: 0;
  }
}