html,
body {
  margin: 0px;
  height: 100%;
  background-color: #2A2A2A;
  // background-image: url(/static/img/bg-blur.png);
  color: $color_font;
  font-size: 1em;
  text-shadow: 0 1px 3px $black_50;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  // font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

a {
  color: $white;
  &:focus {
    color: $white;
  }
  &:hover {
    color: $white;
  }
}

.error {
  text-align: center;
  .error-img {
    img {
      width: 160px;
    }
  }
  .error-text {
    padding: 10px;
    font-size: 1.5em;
    font-weight: 900;
  }
}

.wl {
  height: 83px;
  padding: 5px 0px;
  .rate {
    font-weight: 600;
    font-size: 1.3em;
  }
  .w {
    color: $color_win;
  }
  .l {
    color: $color_lost;
  }
}

.kda {
  height: 83px;
  padding: 5px 0px;
  .rate {
    font-weight: 600;
    font-size: 1.3em;
  }
  .k {
    color: $color_win;
  }
  .d {
    color: $color_lost;
  }
  .a {
    color: $color_assist;
  }
}

.mini-series {
  .fa-check {
    color: $color_win;
  }
  .fa-times {
    color: $color_lost;
  }
  .fa-minus {
    color: $color_assist;
  }
}

.ads {
  padding: 30px 0px 10px 0px;
  .ad {
    padding: 5px 0px;
    &.narrow {
      @media(min-width: 769px) {
        display: none;
      }
    }
    &.wide {
      @media(max-width: 768px) {
        display: none;
      }
    }
  }
}