html {
  height: 100%;
  background-color: $color_mine_shaft_approx;
}

body {
  margin: 0px;
  height: 100%;
  background-color: $color_mine_shaft_approx;
  color: $white;
  text-align: center;
  text-shadow: 0 1px 3px $black_50;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

a {
  color: $white;
  &:focus {
    color: $white;
  }
  &:hover {
    color: $white;
  }
}