html,
body {
  margin: 0px;
  height: 100%;
  background-color: #2A2A2A;
  // background-image: url(/static/img/bg-blur.png);
  color: $color_font;
  font-size: 1em;
  text-shadow: 0 1px 3px $black_50;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  // font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

a {
  color: $white;
  &:focus {
    color: $white;
  }
  &:hover {
    color: $white;
  }
}

.error {
  text-align: center;
  .error-img {
    img {
      width: 160px;
    }
  }
  .error-text{
    padding: 10px;
    font-size: 1.5em;
    font-weight: 900;
  }
}