.live-game {
  font-size: 0.9em;
  @media(max-width: 991px) {
    font-size: 1em;
  }
  text-align: center;
  .team {
    margin-top: 10px;
    &.right-border {
      border-right: 1px solid white;
      @media(max-width: 768px) {
        border-right: none;
      }
    }
  }
  .team-bar {
    padding: 2px 2px;
    height: 36px;
    position: relative;
    font-weight: bold;
    .team-name {
      position: absolute;
      bottom: 8px;
    }
    &.left-pane {
      text-align: left;
      .team-name {
        text-align: right;
        right: 10px;
      }
    }
    &.right-pane {
      text-align: right;
      .team-name {
        text-align: left;
        left: 10px;
      }
    }
    .ban-item {
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .players {
    .player {
      padding: 10px 1px;
      @media(max-width: 991px) {
        border-bottom: 4px solid $gray;
        padding: 15px 1px;
      }
      .hr {
        &.b1 {
          border-top: 1px solid $gray;
        }
        &.b2 {
          border-top: 2px solid $gray;
        }
      }
      .slash {
        padding: 0px 2px;
      }
      .inc {
        color: #BAF4CF;
      }
      .dec {
        color: #EB88B2;
      }
      .item-labels {
        line-height: 0.7em;
        .item-label {
          font-size: 0.7em;
          color: $color_label;
        }
      }
      .badge-item {
        .badge {
          cursor: pointer;
          margin-top: 3px;
          min-width: 90px;
          &.hot {
            background: #A75151;
          }
          &.veteran {
            background: #8A9939;
          }
          &.fresh {
            background: #46A47D;
          }
          &.role {
            background: #004E6D;
          }
        }
      }
      .intro {
        .summoner-name {
          height: 45px;
          font-weight: 500;
          word-wrap: break-word;
        }
        .champion-icon {
          // height: 75px;
          img {
            width: 72px;
            height: 72px;
          }
        }
        .skills {
          // height: 40px;
          img {
            margin: 3px 1px;
            width: 35px;
            height: 35px;
          }
        }
        .tier {
          padding-top: 3px;
          min-height: 25px;
        }
        .tier-img {
          width: 28px;
          height: 25px;
        }
        .lp {
          min-height: 25px;
        }
        .rank-progress {
          min-height: 22px;
        }
        .stats-links {
          padding: 5px 0px;
          a {
            color: yellow;
            font-size: 0.8em;
          }
        }
        .main-role {
          min-height: 46px;
          padding: 5px 0px;
        }
      }
      .stats {
        .champion-name {
          padding-top: 5px;
          font-weight: 500;
          // color: $purple;
          // border-bottom: 1px solid $gray;
        }
        .performance {
          font-size: 0.8em;
          padding: 0px 4px;
        }
        .wl {
          height: 83px;
          padding: 5px 0px;
        }
        .kda {
          height: 83px;
          padding: 5px 0px;
        }
        .cs {
          min-height: 40px;
          padding: 5px 0px;
        }
        .jcs {
          min-height: 40px;
          padding: 5px 0px;
        }
        .support {
          min-height: 40px;
          padding: 5px 0px;
        }
        .aggresive{
          min-height: 40px;
          padding: 5px 0px;
        }
      }
    }
  }
  .blue-team {
    .team-bar {
      background-color: $blue_team;
    }
    .champion-icon {
      img {
        border: 2px solid $blue_team;
      }
    }
    .champion-name,
    .performance {
      color: $blue_team;
    }
  }
  .red-team {
    .team-bar {
      background-color: $red_team;
    }
    .champion-icon {
      img {
        border: 2px solid $red_team;
      }
    }
    .champion-name,
    .performance {
      color: $red_team;
    }
  }
  .error {
    margin-top: 50px;
    a {
      color: #9494FF;
      font-size: 1.3em;
    }
  }
  .loading {
    margin-top: 50px;
  }
}