.live-game {
  font-size: 0.9em;
  @media(max-width: 991px) {
    font-size: 1em;
  }
  text-align: center;
  .team {
    margin-top: 10px;
    &.right-border{
      border-right: 1px solid white;
      @media(max-width: 768px) {
        border-right: none;
      }
    }
  }
  .team-bar {
    padding: 2px 2px;
    height: 36px;
    position: relative;
    font-weight: bold;
    &.blue {
      background-color: $blue_team;
    }
    &.red {
      background-color: $red_team;
    }
    .team-name {
      position: absolute;
      bottom: 8px;
    }
    &.left-pane {
      text-align: left;
      .team-name {
        text-align: right;
        right: 10px;
      }
    }
    &.right-pane {
      text-align: right;
      .team-name {
        text-align: left;
        left: 10px;
      }
    }
    .ban-item {
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .players {
    .player {
      padding: 10px 1px;
      @media(max-width: 991px) {
        border-bottom: 4px solid $gray;
        padding: 15px 1px;
      }
      // width: 130px;
      .intro {
        .summoner-name {
          height: 45px;
          font-weight: 500;
        }
        .champion-icon {
          // height: 75px;
          img {
            width: 72px;
            height: 72px;
          }
        }
        .skills {
          // height: 40px;
          img {
            margin: 3px 1px;
            width: 35px;
            height: 35px;
          }
        }
        .tier {
          padding-top: 10px;
          min-height: 25px;
        }
        .lp {
          min-height: 25px;
        }
      }
      .hr {
        &.b1 {
          border-top: 1px solid $gray;
        }
        &.b2 {
          border-top: 2px solid $gray;
        }
      }
      .slash{
        padding: 0px 2px;
      }
      .stats {
        .item-labels {
          line-height: 0.7em;
          .item-label {
            font-size: 0.7em;
            color: $color_label;
          }
        }
        .champion-name {
          padding-top: 5px;
          color: $purple;
          font-weight: 500;
          // border-bottom: 1px solid $gray;
        }
        .performance {
          font-size: 0.8em;
          padding: 0px 4px;
        }
        .wl {
          height: 83px;
          padding: 5px 0px;
          .rate {
            font-weight: 600;
            font-size: 1.3em;
          }
          .w {
            color: $color_win;
          }
          .l {
            color: $color_lost;
          }
        }
        .kda {
          height: 83px;
          padding: 5px 0px;
          .rate {
            font-weight: 600;
            font-size: 1.3em;
          }
          .k {
            color: $color_win;
          }
          .d {
            color: $color_lost;
          }
          .a {
            color: $color_assist;
          }
        }
        .cs {
          min-height: 40px;
          padding: 5px 0px;
        }
        .jcs {
          min-height: 40px;
          padding: 5px 0px;
        }
        .support {
          min-height: 40px;
          padding: 5px 0px;
        }
        .badge-item {
          .badge {
            cursor: pointer;
            margin-top: 4px;
            &.hot {
              background: #A75151;
            }
            &.veteran {
              background: #8A9939;
            }
            &.fresh {
              background: #46A47D;
            }
          }
        }
      }
    }
  }
}