.live-game {
  .team {
    th {
      vertical-align: bottom;
      text-align: center;
    }
    td {
      vertical-align: middle;
    }
    .team-banner {
      th {
        position: relative;
        border-bottom: none;
      }
      &.blue-team {
        background-color: rgb(60, 63, 124);
      }
      &.red-team {
        background-color: rgb(158, 25, 25);
      }
      .team-name {
        position: absolute;
        left: 10px;
        bottom: 5px;
      }
      .team-bans {
        float: right;
        img {
          width: 30px;
        }
      }
    }
    .team-header {
      font-size: 12px;
      background-color: rgb(90, 90, 90);
      th {
        border-top: none;
        cursor: pointer;
        &.sorted.ascending:after {
          content: "  \2191";
        }
        &.sorted.descending:after {
          content: " \2193";
        }
      }
    }
    .team-player {
      .champion-spells {
        .champion {
          img {
            width: 60px;
          }
        }
        .spells {
          padding: 1px 0px;
          img {
            width: 26px;
          }
        }
      }
      .kda-rate {
        font-weight: bold;
        font-size: 18px;
      }
      .k {
        color: rgb(8, 184, 8);
        padding: 2px;
      }
      .d {
        color: rgb(237, 0, 0);
        padding: 2px;
      }
      .a {
        color: rgb(178, 178, 43);
        padding: 2px;
      }
    }
  }
}