.loading {
  margin: 0 auto;
  padding: 10px;
  margin: 10px;
  .loading-img {
    &.taichi {
      img {
        width: 100px;
        height: 100px;
      }
    }
    &.default {
      img {
        max-width: 300px;
      }
    }
  }
  .loading-text {
    font-size: 1.5em;
    color: $gray;
    margin: 10px;
    padding: 10px;
  }
}