.page-summoner {
  .summoner-profile {
    .profile-info {
      background-color: rgba(128, 128, 128, 0.33);
      padding-right: 8px;
      .p-icon {
        display: inline-block;
        img {
          width: 70px;
          height: 70px;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .p-info {
        display: inline-block;
        vertical-align: middle;
        padding: 10px 8px;
        .p-name {
          font-size: 0.9em;
          font-weight: bolder;
          padding-bottom: 8px;
        }
        .p-from {
          .p-region {}
          .p-level {}
        }
      }
    }
    .rank-info {
      .rank-item {
        background-color: rgba(128, 128, 128, 0.12);
        padding: 0px 8px;
        border-bottom: 1px solid $gray;
        .r-icon {
          display: inline-block;
          img {
            width: 70px;
            height: 70px;
          }
        }
        .r-detail {
          padding: 10px 0px;
          display: inline-block;
          vertical-align: middle;
          .r-queue {
            font-size: 0.7em;
            font-style: italic;
            color: $gray;
          }
          .r-tier {
            font-weight: bolder;
          }
          .r-lp {
            font-size: 1em;
            .mini-series {
              display: inline-block;
              margin-left: 15px;
              font-style: 0.8em;
            }
          }
        }
      }
    }
  }
  .summoner-champions {
    .champion-stats {
      .title-label {
        font-weight: bolder;
        color: #8D8D8D;
      }
      .champion-item {
        @media(max-width: 480px) {
          font-size: 0.9em;
          padding: 0px;
        }
        background-color: rgba(42, 42, 42, 0.5);
        padding: 3px 4px;
        margin: 3px;
        &:hover,
        &:focus {
          background-color: rgba(54, 54, 54, 0.65);
          cursor: pointer;
        }
        .c-icon {
          @media(max-width: 480px) {
            padding: 3px 0px;
          }
          border-left: 4px solid #C1E8FF;
          img {
            width: 65px;
            height: 65px;
          }
        }
        .c-item {
          padding: 8px 0px;
          @media(max-width: 480px) {
            padding: auto;
          }
        }
        .c-wl {}
        .c-kda {}
        .c-aggresive {}
      }
    }
  }
  .summoner-champion-stat {
    .link-to-all-stats {
      padding: 10px 5px;
      a {
        float: right;
        font-size: 0.7em;
        color: yellow;
      }
    }
    .champion-summary {
      margin: 20px 0px;
      .c-icon {
        img {
          border: 1px solid rgba(134, 255, 255, 0.36);
          width: 140px;
          height: 210px;
        }
      }
      .c-compare {
        // border: 1px solid rgba(134, 255, 255, 0.36);
        vertical-align: top;
        padding: 15px;
      }
    }
  }
}