$white: #fff;
$white_25: rgba(255,255,255,.25);
$white_50: rgba(255,255,255,.5);
$white_75: rgba(255,255,255,.75);

$color_mine_shaft_approx: #333;
$color_shady_lady_approx: #a9a9a9;
$color_mountain_mist_approx: #999;

$black_20: rgba(0,0,0,.20);
$black_50: rgba(0,0,0,.5);
